 
 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Light background for contrast */
    color: #333; /* Dark text color */
  }
  
   #root {
    height: 100vh;
  }
  
   